.navbar-div {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color:whitesmoke;
  }
  
  .button-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttonDiv button {
    margin: 0 10px;
  }

  mat-divider{
    margin: 0 10px
  }
  
  .title:hover{
   cursor: pointer;
  }